*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(55,82,102,1) 65%);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    transition: all 0.5s;
}
.todo-app:hover{
    border: 1px solid black;
    transform: scale(1.05);
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 i{
    margin-left: 10px ;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.button {
    position: relative;
    width: 100px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
    border-radius: 10px;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(20px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(59px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 98px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
    border-radius: 10px;    
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid rgb(35, 34, 49);
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(image/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 1px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

@media only screen and (max-width:900px) {
    .container{
        padding: 20px 40px 40px;
    }

    .button {
        margin-left: -200px;
        width: 80px;
    }
    .button .button__icon {
        position: absolute;
        transform: translateX(39px);
    }

    .button:hover .button__icon {
        width: 78px;
    }

    .button .button__text {
        transform: translateX(10px);
        color: #fff;
        font-weight: 500;
    }
}