*{
    margin: 0;
    padding: 0;
}

:root{
    --background-color :  #5D0E41;
    --primary-color : #135D66;
    --secondary-color : #003C43;
    --red : #003C43;
}

/* === MULTI-TIME USED CSS === */

#sidebar .text{
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;

}

.m-icon{
    min-width: 60px;
    display: flex;
    align-items: center;
}

body{
    height: 100%;
    transition: 0.5s ease;
    background-color: #E3FEF7;
    overflow-x: hidden;
}

#sidebar{
    position: fixed;
    background: var(--primary-color);
    top: 0;
    left: 0;
    height: 100%;
    width: 210px;
    padding: 10px;
    transition: 0.4s ease;
    z-index: 100;
}

#sidebar.close{
    width: 70px;
}

#sidebar.close .text{
    opacity: 0;
}

#sidebar.close li a{
    width: 75%;
}
#sidebar.close .menu-bar .mode .moon-sun{
    width: 5px;
}

#sidebar .image-text {
    display: flex;
    color: white;
    align-items: center;
    padding: 20px;
    transition: 0.5s ease;
}

#sidebar header{
    position: relative;
    display: flex;
    align-items: center;
}

#sidebar header .toggle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

#sidebar li .icon{
    font-size: 20px;
    min-width: 50px;
    display: flex;
    justify-content: center;
}

#sidebar li .icon,
#sidebar li .text{
    color: rgb(161, 161, 161);
    transition: 0.3s ease;
}   

#sidebar li a:hover .icon,
#sidebar li a:hover .text{
    color: white;
}

#sidebar li a {
    text-decoration: none;
    padding: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s ease;
    border-radius: 20px;
}

#sidebar .search-box {
    padding-left: 2px;
    margin-left: 10px;
}


#sidebar li a:hover {
    background: var(--red);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    transition: 0.3s ease;
}

.menu-bar .mode i{
    position: absolute;
}



.menu-bar .mode i.sun{
    opacity: 1;
}
.menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode{
    margin-left: 10px;

}

body.dark{
    --background-color :  #5D0E41;
    --primary-color : #1f1f1f;
    --secondary-color : #5fdd54;
    --red : #5fdd54;
    background: #121212;

    #sidebar li a:hover .icon,
    #sidebar li a:hover .text{
    color: black;
    }

    .menu-bar .mode i.sun{
        opacity: 0;
    }
    .menu-bar .mode i.moon{
        opacity: 1;
    }
}




/* The switch - the box around the slider */


.switch {
    font-size: 11px;
    position: relative;
    display: inline-block;
    width: 38px;
    height: 22.5px;
   }
   

   .switch input {
    opacity: 1;
    width: 0;
    height: 0;
   }
   

   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.5em);
   }




.home{
    height: 100vh;
    margin-left: 230px;
    transition: 0.4s ease;
    overflow-x: hidden;
}

.home .text { 
    font-size: 30px;
    font-weight: 500;
    padding: 8px 40px;
}

#sidebar.close ~ .home {
    margin-left: 88px;
    overflow-x: hidden;
    width: calc(100% - 88px);
}